Cartagena/Cartagena/obj/Debug/Cartagena.exe
Cartagena/Cartagena/bin/Debug/Cartagena.exe
Cartagena/.idea/.idea.Cartagena/.idea/workspace.xml
Cartagena/Cartagena/obj/Debug/Cartagena.exe
Cartagena/Cartagena/obj/Debug/Cartagena.pdb
Cartagena/Cartagena/obj/Debug/Cartagena.Form1.resources
Cartagena/Cartagena/obj/Debug/Cartagena.csproj.FileListAbsolute.txt
Cartagena/Cartagena/obj/Debug/Cartagena.csproj.GenerateResource.cache
